VITE_API_URL=http://localhost:4000
VITE_AUTH_REMOTE=http://localhost:4174/remoteEntry.js
VITE_DASHBOARD_REMOTE=http://localhost:4175/remoteEntry.js
VITE_USERS_REMOTE=http://localhost:4176/remoteEntry.js
VITE_ANALYTICS_REMOTE=http://localhost:4177/remoteEntry.js
VITE_NOTIFICATIONS_REMOTE=http://localhost:4178/remoteEntry.js
